src/main/resources/schema/ERROR_NOTIFICATION/error_notification.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="headers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="eventType" type="xs:string" />
              <xs:element name="messageId" type="xs:string" />
              <xs:element name="correlationId" type="xs:string" />
              <xs:element name="msgTimestamp" type="xs:string" />
              <xs:element name="facilityNum" type="xs:unsignedShort" />
              <xs:element name="facilityCountryCode" type="xs:string" />
              <xs:element name="senderHostName" type="xs:string" />
              <xs:element name="senderHostAddress" type="xs:string" />
              <xs:element name="version" type="xs:unsignedByte" />
              <xs:element name="heartbeatInd" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="body" maxOccurs="1" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="status" type="xs:string" maxOccurs="1" minOccurs="1"/>
              <xs:element name="reason" type="xs:string" maxOccurs="1" minOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>